.cont1{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    height: 380px;
    margin: 20px;
}
.text{
    /* border: 2px solid blue; */
    width: 50%;
    margin-left: 80px;
}
p{
    /* border: 2px solid red; */
    text-align: justify;
}
.imgs{
    /* border: 2px solid rgb(0, 255, 81); */
    width: 40%;
    position: relative;
}
.boxx1{
    border: 2px solid rgb(250, 78, 250);
    background-color:  rgb(250, 78, 250);
    width: 30%;
    height: 100px;
    position: absolute;
    margin: 45px;
    margin-left: 125px;

}
.boxx2{
    /* border: 2px solid rgb(6, 6, 6); */
    height: 250px;
    width: 450px;
    z-index: 2;
    position: absolute;
    margin: 50px;
    margin-left: 125px;
}
.boxx3{
    border: 2px solid green;
    background-color: green;
    width: 55%;
    height: 100px;
    position: absolute;
    z-index: 3;
    margin-top: 250px;
    margin-left: 245px;
}
.cont2{
    background-color: rgba(91, 2, 91, 0.694);
    height: 220px;
    padding: 15px;
    color: rgb(250, 247, 247);
}
.cont2-1{
/* border: 2px solid gold; */
width: 80%;
margin-left: 120px;

}
.cont3{
    background-color: rgb(245, 245, 242);
    height: 550px;
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 20px;
}
.cont3-0{
    /* border: 2px solid red; */
    width: 75%;
    margin: 110px;
    margin-left: 200px;
}
.cont3-1{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cont3-2{
    border-bottom: 2px solid rgb(245, 245, 242);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 5px;
    position: relative; 
    background-color: white;
   box-shadow: 5px 0px rgb(141, 140, 140);
}
.head1{
    background-color: rgb(2, 2, 112);
    height: 50px;
    width: 210px;
    border-top-left-radius : 20px ;
    border-top-right-radius : 20px ;
    position: absolute;  
}
.num{
    background-color: azure;
    color:  rgb(2, 2, 112);
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   text-align: center;
   margin-left: 83px;
   margin-top: -25px;
}
.img1{
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;
}
.h3{
    position: absolute;
    margin-top: 180px;
    padding: 10px;
    font-size: larger;
}
/*----------------------------------- card2--------------------------- */
.cont3-3{
   
    border-top: 2px solid rgb(245, 245, 242);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 5px;
    position: relative; 
    background-color: white;
   box-shadow: 5px 5px 5px  rgb(99, 98, 98);
}
.head2{
    background-color:rgba(135, 4, 111, 0.686);
    height: 50px;
    width: 210px;
    border-bottom-left-radius : 20px ;
    border-bottom-right-radius : 20px ;
    position: absolute;  
    margin-top: 233px;
}
.num2{
    background-color: azure;
    color: rgba(135, 4, 111, 0.686);
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   text-align: center;
   margin-left: 85px;
   z-index: 2;
   margin-top: 255px;
}
.img2{
    position: absolute;
    margin-top: 120px;
    margin-left: 70px;
}
.h2{
    position: absolute;
    margin-top: 35px;
    padding: 10px;
    font-size: larger;
}
/*----------------------------------- card3--------------------------- */
.cont3-4{
    border-bottom: 2px solid rgb(245, 245, 242);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 5px;
    position: relative; 
    background-color: white;
    box-shadow: 5px 0px rgb(141, 140, 140);
}
.head3{
    background-color: rgb(253, 95, 42);
    height: 50px;
    width: 210px;
    border-top-left-radius : 20px ;
    border-top-right-radius : 20px ;
    position: absolute;  
}
.num3{
    background-color: azure;
    color: rgb(255, 64, 0);
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   text-align: center;
   margin-left: 83px;
   margin-top: -25px;
}
.img3{
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;
}
.h3{
    position: absolute;
    margin-top: 180px;
    padding: 10px;
}
/*----------------------------------- card4--------------------------- */
.cont3-5{
    border-top: 2px solid rgb(245, 245, 242);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 5px;
    position: relative; 
    background-color: white;
    box-shadow: 5px 5px 5px  rgb(99, 98, 98);
}
.head4{
    background-color:rgba(2, 93, 38, 0.812);
    height: 50px;
    width: 210px;
    border-bottom-left-radius : 20px ;
    border-bottom-right-radius : 20px ;
    position: absolute;  
    margin-top: 233px;
}
.num4{
    background-color: azure;
    color: rgba(2, 93, 38, 0.812);
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   text-align: center;
   margin-left: 85px;
   z-index: 2;
   margin-top: 255px;
}
.img4{
    position: absolute;
    margin-top: 120px;
    margin-left: 70px;
}
.h2{
    position: absolute;
    margin-top: 35px;
    padding: 10px;
}
/*----------------------------------- card5--------------------------- */
.cont3-6{
    border-bottom: 2px solid rgb(245, 245, 242);
    width: 220px;
    height: 280px;
    border-radius: 20px;
    margin: 5px;
    position: relative; 
    background-color: white;
    box-shadow: 5px 0px rgb(141, 140, 140);
}
.head5{
    background-color: rgb(253, 193, 42);
    height: 50px;
    width: 210px;
    border-top-left-radius : 20px ;
    border-top-right-radius : 20px ;
    position: absolute;  
}
.num5{
    background-color: azure;
    color:rgb(253, 193, 42);
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   text-align: center;
   margin-left: 83px;
   margin-top: -25px;
}
.img5{
    position: absolute;
    margin-top: 60px;
    margin-left: 70px;
}
.h3{
    position: absolute;
    margin-top: 180px;
    padding: 10px;
}
